// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


$font-header:  'Playfair Display', serif;
$font-body:  'Source Sans Pro', sans-serif;


$brand-primary: #0a2263;
$brand-secondary: #555;
